body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#refreshNotice {
    text-align: center;
    color: black;
    font-size: 9px;
    transition: color .5s, font-size .5s;
}

#refreshNotice.active {
    color: red;
    font-size: 11px;
    transition: color .5s, font-size .5s;
}
